@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.header-title {
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation li {

    list-style: none;
    margin: 10px;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.second-section-title {
    font-size: 52px;
    margin-top: 91px;
}

.second-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.prebbok-btn {
    border: none;
    background-color: #E02C6D;
    color: white;
    border-radius: 10px;
    padding: 15px;
    padding-right: 5px;
    font-size: 15px;

}

.second-section-paragraph {
    margin: 18px 0;
    font-size: 16px;
}

/* preebook button design */
.fa-long-arrow-alt-right {
    padding-left: 8px;
    font-size: 15px;

}

.camera-logo img {
    margin-left: 150px;
    width: 60;
    margin-top: 45px;

}

.all-footer-content {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #0A0826;

    color: white;
    margin-top: 20px;
}

.footer-logo {
    padding-top: 10px;
}

.footer-details {
    padding-top: 30px;
    margin-top: 200px;
}

.fab {
    margin: 10px;
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;

}